.centre_nom p{
    width:80%;
    margin-left: 3.5em;
}
.gray {
  background-color: #f0f0f0;
  padding-left: 9em;
  padding-right: 9em;
  padding-bottom: 3em;
}
.gray h3:first-child{
font-size: 5em;
}

.form-padding {
    padding-top: 2em;
  padding-left: 8em;
  padding-right: 8em;
}
.centre_echange p{
    width:80%;
    margin-left: 4em;
}
.picto_text_left{
    padding: 2em 0 0 0;
}
.centre_chiffre{
    margin-bottom: 4em;
}
.picto_text_right{
    
}
.background_centre_1 {
    height:25em;

    text-align: center;
    color: #FFF;
    background: url(../img/accueil/centre_back_1.jpg) center top fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size:cover;
/*    background-repeat: no-repeat;*/*/

   color:white;
}
.centre_persona{
    margin: 2em 0 2em 0;
}
.centre_temoignage{
    margin: 0 4em 5em 0;
}

.index_cercle_back_cc{
    width:220px;
    height:220px;
    background-color: #8bc289;
    border-radius: 50%;
    padding-top: 2.5em;
    color:white;
}
.index_cercle_back_cc h2{
    color:white;
}


.accueil_logo{
    margin-top: 3em;
}
.background3 {
    height:25em;
    margin-top: 3em;
    text-align: center;
    color: #FFF;
    background: url(../img/centres/bg3.jpg) center top fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.centre_actu h3{
    font-size: 1.5em;
}
.centre_texte_red{
    color:red;
}
.post-content {
    top:25%;
    left:35%;
    position: absolute;
    color:black;
}
.post-content_1 {
    top:21%;
    left:36%;
    position: absolute;
color:black;
}

.thumbnail{
    position:relative;
    border:none;

}
.centre_echange h2{
    font-size: 3em;
}

.green {
  border: 1.5px solid #b9dab8;
}

.section-gray {
  background-color: #f0f0f0;
/*  margin-bottom: 30px;*/
  margin-top: 30px;
}


.last-gray {
  padding-bottom: 5em;
}
.section-circle {
  margin-top: 115px;
}

.info-padding {
  padding-top: 1em;
}
.last-padding {
  padding-bottom: 2em;
}
.border {
  margin-top:80px;
  margin-bottom: 80px;
}
.border {
  margin-top:80px;
  margin-bottom: 80px;
}
.centre_temoignage{
    margin-bottom: 2em;
}
.centre_temoignage h2{
    padding-bottom: 2em;
}
.centre_actu{
    padding-bottom: 3em;
}
.border_centre {
  margin-top:30px;
  margin-bottom: 50px;
}
.white {
  color:white;
}



.container-form {
  margin-bottom: 0px;
}

.form-marg {
  margin-top: 80px;
}
.titre-form {
  margin-top: 600px;

}
.form-margin {
  margin-bottom: 80px;
}

.left {
  float: left;
}
.right {
  float: right;
  margin-right: 180px
}

.formule-text {
  font-size:7em;
}