@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'robotoregular', helvetica, sans-serif; font-size: 14px;}
a:hover { text-decoration: none;}

/***********************************************
*********** Menu navigation ********************
***********************************************/

/* Barre de navigation à l'ouverture de la page */

.nav_header { 
    position: relative; z-index: 9999;}
.nav_header .top_nav {            
    background-color: #17405c;
    color: #fff; text-transform: uppercase;}
.nav_header .top_nav .logo {  
    position: absolute; top: 0; z-index: 1;
    width: 140px; height: 115%; padding-top: 70px;
    background-color: #3497db;}
.nav_header .top_nav .logo img {  
    position: absolute; bottom: 0;}
.nav_header .top_nav p {  
    padding: 25px 10px 15px;
    letter-spacing: 0.04em;}
.nav_header .top_nav p, .nav_header .content_nav nav {
    margin-left: 200px;}
.nav_header .content_nav {    
    position: relative;
    background-color: #f16150;}
.nav_header .content_nav nav > ul li a { 
    display: block; padding: 15px 30px;
    color: #fff; text-transform: uppercase;}
.nav_header .content_nav nav ul li, 
.nav_header .content_nav nav ul li ul li { 
    display: inline-block;}
.nav_header .content_nav li:hover > a { 
    background-color: #3497db;}
.nav_header .content_nav li:hover > .sub-menu { 
    display: block;}
.nav_header .content_nav .sub-menu { 
    position: absolute; left: 0;
    display: none; width: 100%;
    background-color: #3497db;
    text-align: center;}
.nav_header .content_nav .sub-menu li a { 
    text-transform: none;}
.nav_header .content_nav .sub-menu li a:hover { 
    text-decoration: underline;}

/* Barre de navigation au scroll */

.nav_fixed { position: fixed;}



/***********************************************
******* Modification de bootstrap **************
***********************************************/
ul, ol { margin-bottom: 0px;}
























.header_crpe{
    height: 600px;
}
.background_prepa_1 {
    height:27em;
    padding:;
    text-align: center;
    color: #FFF;
    background: url(../img/prepa/photo_prepa_2.jpg) center top fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
   color:white;
}
.background_prepa_3 {
    height:30em;
    padding:;
    text-align: center;
    color: #FFF;
    background: url(../img/prepa/photo_prepa_3.jpg) center top fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
   color:white;
   margin-bottom: 35em;
}
.prepa_back_1{
    height: 18em;
}

.index_cercle_back_p{
    width:220px;
    height:220px;
    background-color: #99cddd;
    border-radius: 50%;
    padding-top: 2.5em;
    color:white;
}
.index_cercle_back_p h2{
    color:white;
}


.epreuve_prepa{
    height: 50em;
    background: url(../img/prepa/epreuve_prepa.jpg)
}



.background_prepa_1 h2 {
    font-size: 6em;
    padding-top: 0.7em;
}
.background_prepa_3 h2 {
    font-size: 6em;
    padding-top: 1.1em;
}
.prepa_p_1{
    color:white;
    padding: 1.3em 15em 0 15em;
}
.middle_pack_rond h3{
   padding: 0 0 0 7em;
   font-weight: bold;
}
.middle_pack_rond p{
   padding: 0 0 0 5.5em;
   
}
.middle_pack_rond p2{
   padding:0;
}
.right_right{
    background-color:#f0f0f0;
}