@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after { margin: 0; padding: 0; list-style: none;}
body { 
    position: relative;
    font-family: 'robotoregular', helvetica, sans-serif;}
body, a { font-size: 14px;}
.logo { 
    max-width: 120px;}
h1, h2, h3, h4, h5, h6 { text-transform: uppercase;}
h4 { 
    margin-bottom: 25px;
    font-size: 16px;}
a:hover { text-decoration: none;}

/***********************************************
*********** Menu navigation ********************
***********************************************/

/* Barre de navigation à l'ouverture de la page */

.nav_header { 
    position: relative; z-index: 9999;}
.nav_header .top_nav {            
    background-color: #17405c;
    color: #fff; text-transform: uppercase;}
.nav_header .top_nav div {
    padding: 25px 0 15px 30px;}
.nav_header .top_nav .logo_nav {  
    position: absolute; top: 0; z-index: 1;
    width: 140px; height: 115%; padding-top: 70px;
    background-color: #3497db;}
.nav_header .top_nav .logo_nav .logo { 
    display: block; margin: auto;}
.nav_header .top_nav .logo img {  
    position: absolute; bottom: 0;}
.nav_header .top_nav p {
    padding-left: 20px;  
    background: url('../img/arrow.png') no-repeat; background-position-y: 5px;
    letter-spacing: 0.04em;}
.nav_header .top_nav p, .nav_header .content_nav nav {
    margin-left: 200px;}
.nav_header .content_nav {    
    position: relative;
    background-color: #f16150;}
.nav_header .content_nav nav > ul li a { 
    display: block; padding: 15px 30px;
    color: #fff; text-transform: uppercase;}
.nav_header .content_nav nav ul li, 
.nav_header .content_nav nav ul li ul li { 
    display: inline-block;}
.nav_header .content_nav li:hover > a { 
    background-color: #3497db;}
.nav_header .content_nav li:hover > .sub-menu { 
    display: block;}
.nav_header .content_nav .sub-menu { 
    position: absolute; left: 0; z-index: 1;
    display: none; width: 100%;
    background-color: #3497db;
    text-align: center;
    /* CSS3 */
    -moz-box-shadow: 0px -1px 1px 0px #656565; -webkit-box-shadow: 0px -1px 1px 0px #656565; -o-box-shadow: 0px -1px 1px 0px #656565; box-shadow: 0px -1px 1px 0px #656565;}
.nav_header .content_nav .sub-menu li a { 
    padding: 8px 15px;
    text-transform: none;}
.nav_header .content_nav .sub-menu li a:hover { 
    text-decoration: underline;}

/* Barre de navigation au scroll */

.nav_fixed { position: fixed;}

/***********************************************
**************** plugin action *****************
***********************************************/

#action {
    position: fixed; top: 200px; right: 0; z-index: 9998;}
#action a {
    display: block; width: 70px; height: 70px;
    background-color: #17405c;
    line-height: 125px; font-size: 9px; color: #fff; text-align: center;}
#action a:hover {
    background-color: #f16150;}

/***********************************************
******************** Footer ********************
***********************************************/

/* Fil d'ariane */
#ariane {
    width: 100%; padding: 10px 0;
    background-color: #f16150;}
#ariane a {
    color: #fff; text-transform: uppercase;}
#ariane a:hover {
    text-decoration: underline;}

/* Footer logo+lien */
footer {
    width: 100%;
    padding: 50px 0;
    background-color: #17405c;}
footer, footer a, footer a:hover { 
    color: #fff;}
footer a { font-size: 12px;}
footer a:hover {
    text-decoration: underline;}
footer div div div:nth-child(2), 
footer div div div:nth-child(3), 
footer div div div:nth-child(4) {
    min-height: 120px;
    border-left: 1px solid #fff;}
footer div div div:nth-child(4) a {
    margin-right: 15px;}
footer div div div:nth-child(4) a:hover img {
    opacity: 0.8;}
footer div div div:nth-child(4) a img {
    width: 30px; height: 30px;}





@media (min-width: 500px) {
  .carousel {
     width:100%;
    }
}

























.header_crpe{
    height: 600px;
}
.background_prepa_1 {
    height:27em;
    padding:;
    text-align: center;
    color: #FFF;
    background: url(../img/prepa/photo_prepa_2.jpg) center top fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
   color:white;
}
.background_prepa_3 {
    height:30em;
    padding:;
    text-align: center;
    color: #FFF;
    background: url(../img/prepa/photo_prepa_3.jpg) center top fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
   color:white;
   margin-bottom: 35em;
}
.prepa_back_1{
    height: 18em;
}

.index_cercle_back_p{
    width:220px;
    height:220px;
    background-color: #99cddd;
    border-radius: 50%;
    padding-top: 2.5em;
    color:white;
}
.index_cercle_back_p h2{
    color:white;
}


.epreuve_prepa{
    height: 50em;
    background: url(../img/prepa/epreuve_prepa.jpg)
}



.background_prepa_1 h2 {
    font-size: 6em;
    padding-top: 0.7em;
}
.background_prepa_3 h2 {
    font-size: 6em;
    padding-top: 1.1em;
}
.prepa_p_1{
    color:white;
    padding: 1.3em 15em 0 15em;
}
.middle_pack_rond h3{
   padding: 0 0 0 7em;
   font-weight: bold;
}
.middle_pack_rond p{
   padding: 0 0 0 5.5em;
   
}
.middle_pack_rond p2{
   padding:0;
}
.right_right{
    background-color:#f0f0f0;
}