
.footer {
     width:100%;
    margin:0 auto;
    padding:0;
    background-color:#191919;
    color:white;
    font-family: Bariol;
    font-size: 24px;
}
#row_footer{
     margin:0;
}
.footer_hight{
    padding-top: 2.5em;
}
.footer_hight p{
    padding-bottom: 0.8em;
}
#footer_galien{
    margin-left: 1.5em;
    padding: 0.3em 0 0 2em;
}
.footer p{
    color:#c5c5c5;
    font-size: 15px;
    
}
footer  a:link,
footer  a:visited {
    text-decoration: none;
    color:#525252;
    font-family: ligther, Bariol, serif;
}
footer a:hover {
    text-decoration: underline;
    color:black;
}

#footer_picto img{
    padding-right: 0.3em;
}
.footer_grid{
     width:23%;
    padding-right: 0.5em;
}
.bordure {
border-bottom:1px solid #525252;
padding-top: 3em;
}
.footer_low{
    width:35%;
    margin-left:32em;
    padding-top: 0.7em;
    padding-bottom: 2em;
    font-size: 17px;
}
.footer_low a{
  
    font-size: 15px;
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	
}







/*-------------------------------------------------------------------------------------------------------------------------------------------*/



body {
    font-family: Bariol, Roboto;
    font-size: 18px;
}


/*-------------------------------------------------- nav transparent -----------------------------------------------------------*/
.navbar-me {
    padding-top: 25px;
    border-width: 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);


}

.navbar-default,
.navbar-nav > li > a {
    padding-top: 25px;
    color: #000000;
    font-size: 18px;
    border: none;
    transition: all 0.5s;
        opacity: 0;
}
.navbar-default,
.navbar-nav > li > a:hover {
    padding-top: 25px;

}

.l-container {
    width: 1170px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    *zoom: 1;
}

blockquote {
    border-left: none;
}

.decoup {
  position: relative;
}



/* GENERAL STYLES */
.pad-bottom {
    padding-bottom: 40px;
}
/* PIE CHART STYLES */
.chart {
    position: relative; display: inline-block; width: 200px; /* SHOUL BE EQUAL - Like 200px */
    height: 200px; /* SHOUL BE EQUAL - Like 200px */
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0; left: 0;
}
.percent {
     display: inline-block;
     line-height: 200px; /* SHOUL BE EQUAL - Like 200px */
     z-index: 2;
     font-size: 2em;
}
.percent:after {
     content: '%';
     margin-left: 0.1em;
     font-size: 1em;
}



/* ----------------------------------- footer --------------------------------------------------------------------*/


.footer {
    height: 100%;
    width:100%;
    background-color:#191919;
    color:white;
    font-family: Bariol;
    font-size: 24px;
}

.footer p{
    color:#c5c5c5;
}
footer  a:link,
footer  a:visited {
    text-decoration: none;
    color:#525252;
    font-family: ligther, Bariol, serif;
    font-size: 20px;
}
footer a:hover {
    text-decoration: none;
    color:black;
}

.bordure {
  border-bottom:1px solid #525252;
  padding-top: 2.7em;
  
}
























