.accueil h1{
    color:#333333;
}
.accueil h3{
    color:#3a3a3a;
}
.accueil p{
    color:#3a3a3a;
    font-weight: lighter;
}
.btn-btn {

  padding:1em 3em 1em 3em;
  width:200px;
  color:black;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid  #3a3a3a;
    -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.btn-btn:hover {
    color:white;
    -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  
 }
.btn-slider {

  padding:1em 3em 1em 3em;
  width:200px;
  color:  white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  margin-left: 4em;
     -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.index_btn_training{
    margin-right: 2em;
}
.carousel-caption{
    
    margin-left:24em;
    padding-bottom: 12em; ;
}

.esprit_galien p{
    font-weight: normal;

}
.accueil_logo{
    padding-left: 5em;
}
.accueil_logo .media-body{
    padding: 1em 0 0 2em;
}
.accueil_logo p{ 
    width: 90%;
}
.accueil_temoignages img:hover{
    opacity: 0.4;
    
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.6s;
    
}

.accueil_background_1 { 
    height: 20em;    
    margin-top: 1em;
    text-align: center;
    color: #FFF;
    background: url(../img/accueil/img_fond_1.jpg) center top fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.accueil_pourcent h2{
   float: left; 
}
.accueil_pourcent p{
   clear:both; 
}
.stat_index{
    padding: 4em  0 4em 0;
    margin-left: 7.3em;
}
.stat{
    padding: 4em  0 4em 0;
    margin-left: 7.3em;
}

.reseau_nat p {
    font-weight: normal;
}

.stat_index h2{
    font-size: 3.5em;
}

.background2 {
    padding: 150px 0;
    text-align: center;
    color: #FFF;
    background: url(../img/accueil/galien-home-final-1.jpg) center top fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 32em;
        

}
.background2 h1{
    color:white;
    font-weight: lighter;

}

.index_cercle_back{
    width:220px;
    height:220px;
    background-color: white;
    border-radius: 50%;
    padding-top: 2.5em;
    color:violet;
}
.index_cercle_back h2{
    color:#90568a;
}
.stat_index p{
    color:#90568a;
}
.thumbnail{

    border:none;
}

.accueil_pack .row{
    margin-left: 7em;
    width: 55%;
    top: 186em;
    position: absolute;
    z-index: 10;
    background-color: white;
    padding: 2em 1em 0 1em;
    line-height: 1.4em;
}
.price{
    padding:0;
    margin: 0;
}
.titre-pack {
    font-size: 25px;
    padding-bottom: 1em;
}
.pack_btn_right, .pack_btn_left {
    background-color: white;
    
    margin-bottom: 1.5em;
}

.pack-complet
{
    float: right;
}
.pack_surlign_left{
   border : 1px solid black;
   width: 80%;
    color: ;
}
.pack_surlign_right{
   border : 1px solid black;
    width: 80%;
    margin-top: 2.2em;
    color: #333333;
}

.price {
  background-color: #ffffff;
  
  width:330px;
  height:570px;


}


.formulaire_contact h1{
    margin-bottom: 0.6em;
}


.form_left{
    
    background-color: #f0f0f0;
    padding: 3.5em 5em 5em 12em;
}


.form_right{
    background-color: #f9f9f9;
     padding: 1.5em 12em 5em 5em;
     
} 
.form_right btn_form_t{
   float: right;
   margin-right: 3em;
     
} 
.form_right btn_form_c{
   float: left;
     
} 

.form_right h3{
    font-weight: bold;
     
} 

.int_form_left{
    
}

.text_fond_2{
    font-size: 7em;
    font-weight: lighter;
    padding-top: 1.3em;
}

.l-container {
    width: 1170px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    *zoom: 1;
}

blockquote {
    border-left: none;
}

.decoup {
  position: relative;
}




.btn_crpe{
    margin: 40px 0 50px 41%;
}
.btn_concours{
    margin: 20px 0 70px 41%;
}
.btn_centres{
    margin: 30px 0 50px 41%;
}

